.modal-content {
    background-color: #efefef;
    .modal-header {
        .modal-title {
        color: black;
        font-size: x-large;
        margin-left: auto;
        }
    }
    .modal-body {
        color: black;
        img{
            width: 60%;
            height: 30%;
        }
        p {
            font-size: small;
            margin-bottom: 5px;
        }
        h2 {
            color: black;
            margin-top: 1px;
        }
        h3 {
            margin-top: 10px;
        }
        h5 {
            margin-top: 5px;
        }
    }
}