.navbar {
    background-color: #301B3F!important;
    .container-fluid {
        background-color: #301B3F;
        margin-top: 15px;
        a {
            color: white;
            font-size: x-large;
        }
        .navbar-toggler {
            background-color: white;
            border-radius: 3px;
            
        }
        .navbar-collapse {
            ul {
            background-color: transparent;
                li {
                    font-size: larger;
                }
            }
            .d-flex {
                margin-bottom: 15px;
            }
        }    
    }
}