.containerGrid-contact {
    background-color: #151515;
    width: 100%;
    height: 1900px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 28% repeat(2, 180px) 550px;
    grid-template-areas:
        "aclaracion aclaracion"
        "ig-contact fb-contact"
        "wpp-contact tel-contact"
        "direct-contact direct-contact";
    align-items: center;
    gap: 5px;
    color: white;
    .aclaracionContacto {
        grid-area: aclaracion;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content:space-evenly;
        width: 90%;
        min-height: max-content;
        max-height: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        gap: 15px;
        h1 {
            margin-top: 15px;
        }
        h2 {
            text-decoration: underline;
            margin-bottom: 8px;
            padding-top: 2px;
            line-height: 1em;
        }
        h3 {
            margin-top: 0.2rem;
        }
        p {
            text-align: justify;
            word-spacing: 0px;
            margin-right: 10px;
        }
        .horario {
            line-height: 1.2em;
            width: 80%;
            background-color: #3C415C;
            padding: 10px 10px 10px 10px;
            border: 1px solid black;
            border-radius: 4px;
            box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
            ul {
                list-style-type: none;
                font-weight: bolder;
            }
        }
        .ayudaInteraccion {
            display: inline-block;
            width: 100%;
        }
    }
    .elements-contact {
        width: 150px;
        height: 160px;
        background-color: #3C415C;
        border-radius: 4px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        padding: 5px 5px 5px 5px;
        box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
        a {
            color: white;
            text-decoration: none;
        }
        h3 {
            margin-bottom: 5px;
            text-decoration: underline;
        }
        p {
            line-height: 13px;
            font-size: 12.5px;
            
        }
        .contact-img {
            width: 40px;
            height: 40px;
        }
        .ig-contact {
            grid-area: ig-contact;
        }
        .fb-contact {
            grid-area: fb-contact;
        }
        .wpp-contact {
            grid-area: wpp-contact;
        }
        .tel-contact {
            grid-area: tel-contact;
        }
    }
    .direct-contact {
        grid-area: direct-contact;
        width: 310px;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 200px;
        img {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
        .formDirect-contact {
            margin: 5px 0 5px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            div {
                margin: 5px 0 5px 0;
            }
            label {
                margin-top: 15px;
            }
            textarea {
                width: 100%;
                height: 200px;
                display: inline-block;
                margin: 10px 0px 10px 0px;
                background-color: #F7ECDE;
                border-radius: 4px;
                border: 2px solid black;
                padding: 2px;
                box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
            }
            .buttonLog-in {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}