@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');
/* Mobile First */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #151515;
    width: 100%;
    height: min-content;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

.headerAdded {
    position: absolute;
    width: 100%;
    height: min-content;
    display: flex;
    top: 70%;
    bottom: 30%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logo-marca {
    width: 75%;
    height: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 31%;
    margin-left: 13%;
}
.btn-genero {
    height: 40px;
    width: 80px;
    position: absolute;
    top: 55%;
    bottom: 20%;
    left: 40%;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ffffff40;
    background-color: rgba(223, 223, 223, 0.213);
    backdrop-filter: blur(3px);
}
.btn-genero a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
}
.headerAdded-emblem img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff40;
    background-color: rgba(223, 223, 223, 0.213);
    backdrop-filter: blur(3px);
}

.checkbtn{
    display: block;
    width: 34px;
    height: 34px;
    margin-right: 40px;
}
.menu-icon {
    width: fit-content;
    height: fit-content;
}
.menu-icon img{
    width: 34px;
    height: 34px;
    display: inline-block;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

nav {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #000000; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.739);
    
} 


nav ul{
    padding: 10px 0px 10px 0px;
    position: absolute;
    top: 0vh;
    left:-130%;
    background: #F7ECDE;
    width: 100%;
    height: fit-content;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
} 

nav a {
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
} 

.noneDecoration {
    color:black;
    text-decoration: none;
}

nav ul h1 {
    font-size: xx-large;
    margin-bottom: 10px;
}

nav ul li{
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    font-size: x-large;
    
}

nav ul li:last-child{
    background: none;
    padding: 0.5rem;
}

#check {
    display: none;
}

#check:checked ~ ul{
    left: 0;
    transition: all .5s;
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.739);
}
.checkbtn {
    width: fit-content;
    height: fit-content;
    display: block;
}
.checkbtn img {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    
}


.container-grid {
    grid-area: container-grid;
    text-align: center;
    width: 100%;
    background-color: #151515;
    padding-bottom: 50px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 125px 125px 125px 100px repeat(7, 100px);
    grid-template-areas: 
    "ad-space ad-space"
    "ad-space ad-space"
    "ad-space ad-space"
    "aside aside"
    "product product"
    "product product"
    "product product"
    "product product"
    "product product"
    "product product"
    "product product"
    ;
}
.cardTittle {
    text-align: justify;
    margin: 5px 0px 5x 0px;
}
.adSpace {
    grid-area: ad-space;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.adSpace img {
    width: 100%;
    height: 90%;
    box-shadow: 0px -2px 15px 5px rgba(0, 0, 0, 0.739);
}

aside {
    grid-area: aside;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    text-align: center;
}

.link-emblem  {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

aside img {
    width: 65px;
    height: 65px;
}

/* CAROUSEL PRODUCTS */

.product {
    position: relative;
    overflow: hidden;
    padding: 0px;
    height: min-content;
    width: 100vw;
}

.product-category {
    color: white;
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0px 10px 0px;
    text-transform: capitalize;
}

.product-container {
    color: white;
    padding: 2vh 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 550px;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 8;
    background: transparent;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 1;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.exhibitor h3 {
    padding: 1px 0px 4px 0px;
}

.contactEmblem {
    grid-area: contact-e;
}

.rightEmblem {
    grid-area: right-e;
}

footer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(21,21,21,1) 46%, rgba(48,27,63,1) 99%);
    grid-area: footer;
    box-shadow: 0px 10px 20px 12px rgba(0, 0, 0, 0.739);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer h3 {
    margin-bottom: 10px;
}
.infoFooter {
    color: #F7ECDE;
    font-size: x-large;
    grid-area: info-footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /******* TRABAJANDO PÁGINA LOG IN ***********/

.containerGrid-logIn {
    width: 100%;
    height: max-content;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
        "formularioLog-in"
        "form"
        "form"
        "help"
        ;
    justify-content: center;
    align-items: start;
}


.formularioLog-in {
    width: 100%;
    height:fit-content;
    padding: 25px 0px 25px 0px;
    grid-area: formularioLog-in;
    background-color: #151515;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 5px 57px 4px rgb(0 0 0 / 74%);
    gap: 15px;
    color: white;
}
.formularioLog-in a {
    color: #54BAB9;
    text-align: none;
}
.inputBox {
    position: relative;
    width: 250px;
}
.inputBox input {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    padding: 10px 0 5px;
    letter-spacing: 0.1em;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~  span {
    color: #2196f3;
    transform: translateY(-16px);
    font-size: 0.65em;
}
.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    overflow: hidden;
}
.inputBox i::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F7ECDE, hsl(27, 78%, 55%), hsl(0, 0%, 0%), #54BAB9, #F7ECDE);
    animation: animate 2s linear infinite;
    transition: 0.5s;
}
.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before {
    left: 0;
}
@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 250px ;
    }
}

.inputBox .calendary {
    position: relative;
    display:  inline-flex;
    right: -3px;
    width: 50%;
    padding-left: 50%;
}

.formulario {
    grid-area: form;
    background-color: #151515;
    display: flex;
    text-align: justify;
    width: 100%;
    height: auto;
    padding: 15px 0px 5px 0px;
    margin-top: 50px;
    margin-bottom: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 28px -4px rgb(0 0 0 / 74%);
    gap: 15px;
    
}
.formulario h1 {
    color: white;
}
.formulario p {
    color: white;
    margin: 5px 0px 5px 0px;
}
.yacreada {
    text-align: center;
    margin-bottom: 10px;
}
.yacreada a {
    color:#54BAB9;
    text-decoration: underline;
} 

.formulario p label {
    margin: 2px 0px 0px 0px;
    display: inline-block;

}
.buttonSpecial {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 10px;
}
.buttonNac {
    margin: 5px 0px 5px 0px;
    top: 170px;
    
}
.buttonLog-in {
    color: rgb(147, 147, 147);
    margin: 10px 0px 5px 0px;
    width: 130px;
    height: 30px;
    background-color:#E9DAC1;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 74%);
}
.section-genero {
    display: flex;
    position: relative;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-around;
    margin-top: 5px;
    color: gray;
}
.selector {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
}
.help {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0px 0 20px 0;
    line-height: 1.5em;
    color: white;
}
.help a {
    color:#54BAB9;
    text-decoration:underline;
    width: fit-content;

}
h1 {
    text-decoration: underline;
}

.infoBeneficios p {
    margin-top: 30px;
    line-height: 1em;
}

/*********** PAGINA DE CONTACTO ***********/

.header-section {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(60,65,92,1) 26%, rgba(48,27,63,1) 74%);
}
.logo-marca-section {
    position: absolute;
    width: 80%;
    height: 60%;
    padding: 5px 5px 5px 0px;
    margin-top: 40px;

}
.ig-contact {
    grid-area: ig-contact;
}
.fb-contact {
    grid-area: fb-contact;
}
.wpp-contact {
    grid-area: wpp-contact;
}
.tel-contact {
    grid-area: tel-contact;
}
.content-contact ul {
    list-style-type: none;
    line-height: 1.5em;
}
.direct-contact {
    grid-area: direct-contact;
}
.aclaracionContacto {
    grid-area: aclaracion;
}
.containerGrid-contact {
    background-color: #151515;
    width: 100%;
    height: 1900px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 28% repeat(2, 180px) 550px;
    grid-template-areas:
        "aclaracion aclaracion"
        "ig-contact fb-contact"
        "wpp-contact tel-contact"
        "direct-contact direct-contact";
    align-items: center;
    gap: 5px;
    color: white;
}
.aclaracionContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-evenly;
    width: 90%;
    min-height: max-content;
    max-height: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    gap: 15px;
    
}
.aclaracionContacto h1 {
    margin-top: 15px;
}
.aclaracionContacto .horario {
    line-height: 1.2em;
    width: 80%;
    background-color: #3C415C;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
}
.aclaracionContacto h2 {
    text-decoration: underline;
    margin-bottom: 8px;
    padding-top: 2px;
    line-height: 1em;
}
.aclaracionContacto ul {
    list-style-type: none;
    font-weight: bolder;
}
.aclaracionContacto p {
    text-align: justify;
    word-spacing: 0px;
    margin-right: 10px;
}
.aclaracionContacto h3 {
    margin-top: 0.2rem;
}
.ayudaInteraccion {
    display: inline-block;
    width: 100%;
}
.contact-img {
    width: 40px;
    height: 40px;
}
.elements-contact {
    width: 150px;
    height: 160px;
    background-color: #3C415C;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
    
}
.elements-contact a {
    color: white;
    text-decoration: none;
}
.elements-contact h3 {
    margin-bottom: 5px;
    text-decoration: underline;
}
.elements-contact p {
    line-height: 13px;
    font-size: 12.5px;
    
}
.formDirect-contact {
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.formDirect-contact div {
    margin: 5px 0 5px 0;
}

.formDirect-contact label {
    margin-top: 15px;
}
.formDirect-contact textarea {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    background-color: #F7ECDE;
    border-radius: 4px;
    border: 2px solid black;
    padding: 2px;
    box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 74%);
}
.formDirect-contact .buttonLog-in {
    margin-left: auto;
    margin-right: auto;
}
.direct-contact {
    width: 310px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 200px;
}
.direct-contact img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.cerrarNavBar ul::before {
    visibility: hidden;
    transition: 0.5s;
}
.cerrarNavBar ul:valid ~ i::before,
.cerrarNavBar ul:focus ~ i::before {
    visibility: hidden;
}
@media(min-width:768px) {
    header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    }
    #carouselPortada {
        width: 77%;
        box-shadow: 0px 0px 40px 40px rgb(0 0 0);
    }
    .logo-marca {
        height: 150px;
        width: 450px;
        margin: 0;
    }
    .btn-genero {
        border: 2px solid rgb(79, 79, 79);
        width: 150px;
        height: 65px;
    }
    .btn-genero a{
        color: black;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: x-large;
        font-weight: bolder;
    }
    .headerAdded {
        justify-content: space-evenly;
    }
    .headerAdded-emblem img{
        width: 80px;
        height: 80px;
        border: 2px solid rgb(79, 79, 79);
        
    }
    
    
}


